:root {
  --main-accent-color: #B45800;
  --dark-color-a: #6672AD;
  --dark-color-b: #595953;
  --light-color-a: #EFFFF6;
  --light-color-b: #F0DCE1;
  --light-color-c: #FFFFFF;
  --med-color-a: #A7A37F;
  --dark-text: #101015;
}

html {
}
body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
body, ul, li, div, span, h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0px;
}

div#navbar {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  height: 3em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
div#navbar.bright {
  /* background-color: rgba(24,4,49,1); */
  background-color: var(--main-accent-color);
}

div#navbar>div.branding {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  align-items: center;
  font-size: 1.75em;
  color: white;
  font-weight: bold;
  float: left;
  height: 100%;
  margin-left: 1em;
}

div#navbar>div.links {
  color: white;
  display: flex;
  font-size: 1.2em;
  align-items: center;
  float: right;
  height: 100%;
}

ul.navitems {
  list-style-type: none;
}

ul.navitems>li {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
}
.navitems a:visited, 
.navitems a:link {
  color: white;
  height: 100%;
  text-decoration: none !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
ul.navitems>li.active {
  background-color: rgba(0,0,0,0);
}
ul.navitems>li>a:hover {
  background-color: rgba(0,0,0,0.5); 
}

/*
    Landing Pagw
*/
div#home {
  height: 100vh;
  font-size: 2em;
  text-align: center;
  color: white;
}
.btn {
  font-size: 2em;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: var(--main-accent-color);
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}


/*
    Getting Started
*/
div#about {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 2.5em;

  background-color: var(--light-color-a);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
div#about>div {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-width: 40%;
  flex-basis: 40%;
/*
  width 50%;
*/
}
div#about pre {
  background-color: black; 
  color: var(--main-accent-color);
  padding: 1em 1em 1em 1em;
}
img.filler {
  width: 50%;
  padding-left: 25%;
}

/*
    Download section
*/
div#download {
  background-color: var(--light-color-a);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2.5em;
  padding-bottom: 5em;
  align-items: center;
}
div#download>div {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  flex-basis: 40%;
  max-width: 40%;
}

h1 {
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;
  color: #623a00;
}
h2 {
  font-size: 1.5em;
}

/*
    Footer section
*/
div#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--dark-text);
  color: var(--light-color-a);
}
div#footer>div {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*
    Shared styles
*/
a.button {
  font-size: 0.6em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  background-color: var(--main-accent-color);
  color: white;
}
a {
  color: var(--main-accent-color);
  text-decoration: none;
}
.filter-accent {
  filter: invert(34%) sepia(84%) saturate(2569%) hue-rotate(23deg) brightness(89%) contrast(102%);
}

